{% extends "base.html" %}
{% block content %}
<!-- code in here to display a list of books-->
<div class="container mt-3">
    <h2>Result of {{stage.StageName}}</h2>   
    <a href="/result?stageId={{stage.StageID}}" class="btn btn-primary" role="button">New Result</a>           
    <table class="table">
        <thead class="table-success">
            <tr>                                       
                <th>Stage Name</th>
                <th>Member</th>                
                <th>Points</th>  
                <th>Position</th>                  
                <th>Action</th> 
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            {% if loop.index%2 == 0:  %}
            <tr class="table-primary">                                    
            {% else %}
            <tr class="table-secondary">                                    
            {% endif %}                                
                <td>{{result.StageName}}</td>    
                <td>{{result.MemberID}}</td>                                                               
                <td>{{result.PointsScored}}</td>   
                {% if result.Position == 1: %}   
                <td>Gold</td> 
                {% elif result.Position == 2: %}   
                <td>Silver</td> 
                {% elif result.Position == 3: %}   
                <td>Bronze</td> 
                {% elif result.Qualifying == 1: %}   
                <td>Q</td> 
                {% else %}
                <td></td> 
                {% endif %}       
                <td><a href="/result?id={{result.ResultID}}&stageId={{stage.StageID}}">Edit</a></td>                                                          
            </tr>                           
            {% endfor %}
        </tbody>        
    </table>               
</div>
{% endblock %}